// About and contact:
// Contains information about me and a contact form.
.about {
  margin-bottom: 40px;
}

.about-background {
  background: $color-background-dark;
  min-height: 100vh;
}

.about-content {
  position: relative;
  top: 15vh;
}

.about-content--left {
  float: left;
  height: 100%;
  margin-right: 5%;
  width: 45%;

  @include mq('tablet', max) {
    float: none;
    margin-right: 0;
    width: 100%;
  }

  img {
    display: block;
    margin: auto;
    padding: 0 0 5%;
  }

  p {
    margin-bottom: 5%;

    &:last-child {
      margin-bottom: 20%;

      @include mq('tablet', max) {
        margin-bottom: 5%;
      }
    }
  }
}

.about-content--right {
  float: right;
  height: 100%;
  margin-left: 5%;
  text-align: left;
  width: 45%;

  @include mq('tablet', max) {
    float: none;
    margin-left: 0;
    width: 100%;
   }

  h1 {
    font-size: 5vw;
    margin-top: 20px;
    text-transform: uppercase;

    @include mq('tablet', max) {
      font-size: 38px;
      white-space: nowrap;
     }
  }
}

.about__icons {
  display: flex;
  justify-content: flex-start;
  margin: 30px 0;

  path {
    transition: .5s;
  }

  a {
    margin-right: 30px;

    &:last-child {
      margin-right: 30px;
    }

    &:hover,
    &:active {
      path {
        fill: $color-primary;
      }
    }
  }

  object {
    pointer-events: none;
  }
}
