.portfolio-grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  margin-top: 100px;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.portfolio-grid__item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  min-height: 320px;
  max-height: 480px;
  width: 48%;
  height: auto;
  background: #3085a3;
  text-align: center;
  cursor: pointer;
}

.portfolio-grid__item__image {
  position: relative;
  display: block;
  opacity: 0.8;
  width: 400px;
  height: 400px;
  opacity: 0.8;
}

.portfolio-grid__item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  backface-visibility: hidden;

  &::before,
  &::after {
    pointer-events: none;
  }
}

.portfolio-grid__item__content > .portfolio-grid__item__content__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}

.portfolio-grid__item__content__header {
  word-spacing: -0.15em;
  font-weight: 300;
  margin: 0;

  span {
    font-weight: 800;
  }
}

.portfolio-grid__item__content__paragraph {
  letter-spacing: 1px;
  font-size: 68.5%;
  margin: 0;
}



/**
 * Hover effect
 */
.portfolio-grid__item {
  background: #162633;
  text-align: left;

  &:hover {
    .portfolio-grid__item__content__header {
      transform: translate3d(0,0,0);
    }
  }
}

.portfolio-grid__item__image {
  transition: opacity 0.45s;
  backface-visibility: hidden;

  &:hover img {
    opacity: 0.6;
  }
}

.portfolio-grid__item__content {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/triangle.svg) no-repeat center center;
    background-size: 100% 100%;
    content: '';
    transition: opacity 0.45s, transform 0.45s;
    transform: rotate3d(0,0,1,45deg);
    transform-origin: 0 100%;
  }

  &:hover {
    &::before {
      opacity: 0.7;
      transform: rotate3d(0,0,1,20deg);
    }
  }
}

.portfolio-grid__item__content__header {
  transition: transform 0.35s;
  transform: translate3d(0,20px,0);

  &:hover {
    transform: translate3d(0,0,0);
  }
}

.portfolio-grid__item__content__paragraph {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 1.5em 7% 0;
}

.portfolio-grid__item__content__link {
  margin: 0 10px;
  color: #5d504f;
  font-size: 170%;

  i {
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(0,50px,0);
  }

  &:hover,
  &:focus {
    color: #cc6055;
  }
}

.portfolio-grid__item:hover p i {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.portfolio-grid__item:hover p a:nth-child(3) i {
  transition-delay: 0.05s;
}

.portfolio-grid__item:hover p a:nth-child(2) i {
  transition-delay: 0.1s;
}

.portfolio-grid__item:hover p a:first-child i {
  transition-delay: 0.15s;
}
