.portfolio-grid {
  position: relative;
  clear: both;
  margin: 0 auto;
  margin-top: 100px;
  padding: 1em 0 4em;
  max-width: 1000px;
  list-style: none;
  text-align: center;
}

/* Common style */
.portfolio-grid__item {
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 320px;
  max-width: 480px;
  min-height: 320px;
  max-height: 480px;
  width: 48%;
  height: auto;
  background: $black;
  text-align: center;
  cursor: pointer;

  @include mq('tablet', max) {
    min-width: auto;
    width: 100%;
    height: 340px;
    // float: none;
    // margin: 10px auto;
  }
}

.portfolio-grid__item__image {
  position: relative;
  display: block;
  opacity: 0.8;
  width: 100%;
  height: 400px;
  opacity: 0.8;
  object-fit: cover;

  @include mq('tablet', max) {
    height: 340px;
  }
}

.portfolio-grid__item__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.75em;
  backface-visibility: hidden;

  @include mq('tablet', max) {
    padding: 1em;
    font-size: 1.5em;
  }

  &::before,
  &::after {
    pointer-events: none;
  }
}

.portfolio-grid__item__content > .portfolio-grid__item__content__link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  text-indent: 200%;
  font-size: 0;
  opacity: 0;
}

.portfolio-grid__item__content__header {
  font-family: $font-roboto-black;
  font-style: normal;
  text-shadow: 1px 1px 0px $color-text-shadow;
  margin: 0px;
  width: 80%;
}

.portfolio-grid__item__content__subheader {
  margin-top: 8px;
  font-family: $font-lora-italic;
  text-shadow: 1px 1px 1px lighten($color-text-shadow, 5%);
  font-size: .65em;
  width: 80%;
  opacity: 0;
  transition: .5s;
}

.portfolio-grid__item__content__paragraph {
  font-size: 68.5%;
  margin: 0;
}



/**
 * Hover effect
 */
.portfolio-grid__item {
  background: #162633;
  text-align: left;

  @include mq('tablet', max) {
    .portfolio-grid__item__content__header {
      transform: translate3d(0,0,0);
    }

    .portfolio-grid__item__content__subheader {
      opacity: 1;
    }
  }

  &:hover {
    .portfolio-grid__item__content__header {
      transform: translate3d(0,0,0);
    }

    .portfolio-grid__item__content__subheader {
      opacity: 1;
    }
  }
}

.portfolio-grid__item__image {
  transition: opacity 0.45s;
  backface-visibility: hidden;

  @include mq('tablet', max) {
    opacity: 0.8;
  }

  &:hover img {
    opacity: 0.6;
  }
}

.portfolio-grid__item__content {
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/triangle.svg) no-repeat center center;
    background-size: 100% 100%;
    content: '';
    transition: opacity 0.45s, transform 0.45s;
    transform: rotate3d(0,0,1,45deg);
    transform-origin: 0 100%;
  }

  @include mq('tablet', max) {
    &::before {
      opacity: 0.7;
      transform: rotate3d(0,0,1,19deg);
      left: -2em;
      top: 1.25em;
    }
  }

  &:hover {
    &::before {
      opacity: 0.7;
      transform: rotate3d(0,0,1,19deg);
    }
  }
}

.portfolio-grid__item__content__header {
  transition: transform 0.35s;
  transform: translate3d(0,20px,0);

  &:hover {
    transform: translate3d(0,0,0);
  }
}

.portfolio-grid__item__content__paragraph {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0 90px 90px 0;
  font-size: .5em;
  font-family: $font-roboto-black;

  @include mq('tablet', max) {
    padding: 0 50px 60px 0;
  }
}

.portfolio-grid__item__content__link {
  margin: 0 10px;
  color: $color-background-dark;
  font-size: 170%;

  i {
    opacity: 0;
    transition:  0.5s;
    transform: translate3d(0,50px,0);

    @include mq('tablet', max) {
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }
}

.portfolio-grid__item:hover p i {
  opacity: 1;
  transform: translate3d(0,0,0);
}

.portfolio-grid__item:hover p a:nth-child(3) i {
  transition-delay: 0.05s;
}

.portfolio-grid__item:hover p a:nth-child(2) i {
  transition-delay: 0.1s;
}

.portfolio-grid__item:hover p a:first-child i {
  transition-delay: 0.15s;
}
