// 01 Main landing section
.heading {
  margin-top: 100px;

  &::before {
    background: $color-primary;
    box-shadow: 1px 1px 2px $color-text-shadow;
    content: '';
    display: inline-block;
    height: 400px;
    margin: -300px 0 0 -200px;
    position: absolute;
    transform: rotate(45deg);
    width: 400px;
    z-index: z('portfolio-heading-triangle');

    @include mq('tablet', max) {
      display: none;
    }
  }
}

.heading-background {
  // background: linear-gradient(rgba($black, .2), rgba($black, .2)), url('#{$path-img}/landing-background.png') no-repeat center center;
  // background-size: cover;
  height: auto;
}

.heading-content {
  padding: 150px 0;
  text-align: left;
  width: 100%;

  @include mq('tablet', max) {
    padding: 80px 0;
  }

  h1 {
    font-size: 50px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px $color-text-shadow;

    @include mq('tablet', max) {
      font-size: 34px;
    }
  }

  h2 {
    font-size: 25px;
    text-shadow: 1px 1px 2px $color-text-shadow;

    @include mq('tablet', max) {
      font-size: 22px;
    }
  }
}

// 02 Introduction section
// Contains an introduction paragraph about the project and a divider.
.intro {
  p {
    font-size: 20px;
    padding: 80px 0;
    text-align: center;

    @include mq('tablet', max) {
      padding: 50px 0;
      font-size: 18px;
    }
  }
}

.divider__circle--white {
  background: $white;
  border-radius: 50%;
  color: $color-primary;
  content: '';
  display: inline-block;
  height: 100px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 100px;

  &::after {
    // animation-duration: 2.5s;
    // animation-iteration-count: infinite;
    // animation-name: bouncingArrow;
    color: $color-primary;
    content: '▽';
    display: inline-block;
    font-size: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -75%);
  }
}

.portfolio-options {
  display: flex;
  font-family: $font-roboto-black;
  justify-content: flex-start;
  margin: 25px 0;

  @include mq('tablet', max) {
    text-align: center;
    flex-direction: column;
  }

  svg {
    margin-bottom: -8px;

    @include mq('tablet', max) {
      margin-top: 10px;
    }
  }

  path {
    transition: .5s;
  }

  a {
    color: $color-background-dark;
    margin-right: 30px;
    transition: .5s;

    @include mq('tablet', max) {
      margin-right: 0px;
      margin-bottom: 10px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-primary;

      path {
        fill: $color-primary;
      }
    }
  }
}

.portfolio-options__last-item {
  font-family: $font-roboto-medium;
  margin-left: auto;
  margin-top: 16px;
  font-size: 14px;

  @include mq('tablet', max) {
    margin-left: 0px;
  }
}

.main-body {
  background: $white;
  margin-top: -50px;
  padding: 50px 0;

  @include mq('tablet', max) {
    padding: 30px 0;
  }

  p {
    color: $color-background-dark;
    font-size: 18px;
    margin-bottom: 30px;
  }

  img {
    width: 100%;
    height: 100%;
  }
}

.portfolio__main-body p:first-child:first-letter,
.dropcap {
  color: $color-primary;
  float: left;
  font-family: $font-roboto-black;
  font-size: 90px;
  line-height: 50px;
  margin-top: 10px;
  padding-bottom: 7px;
  padding-right: 7px;
}

.previous-next {
  display: flex;
  width: 100%;

  @include mq('tablet', max) {
    flex-direction: column;
  }
}

.next,
.previous {
  padding: 125px 10%;
  position: relative;
  transition: .5s;

  @include mq('tablet', max) {
    padding: 80px 0%;
  }

  p {
    color: $white;
    font-family: $font-roboto-black;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1.3;
    text-shadow: 1px 1px 2px $color-text-shadow;
  }

  span {
    color: $white;
    font-family: $font-lora-italic;
    font-size: 16px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 2px $color-text-shadow;
  }

  &:after {
    position: absolute;
    background: rgba(0,0,0, 0.1);
    content: "";
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    transition: .5s;
  }

  &:hover,
  &:active,
  &:focus {
    &:after {
      background: rgba(0,0,0, .6);
    }
  }
}

.previous__content,
.next__content {
  position: absolute;
  left: 0%;
  padding: 0px 10%;
  top: 50%;
  transform: translate(0%, -50%);
  z-index: 1;
}

.previous {
  width: 35%;

  @include mq('tablet', max) {
    width: 100%;
  }
}

.next {
  width: 65%;
  border-left: 1px solid $color-primary;

  @include mq('tablet', max) {
    width: 100%;
    border-left: 0px;
    border-top: 1px solid $color-primary;
  }
}
