input,
textarea {
  background: transparent;
  border: 1px solid $white;
  color: $white;
  font-family: $font-roboto-black;
  font-size: 1rem;
  margin-bottom: 20px;
  padding: 2%;
  text-align: right;
  text-transform: uppercase;
  transition: .5s ease;
  width: 96%;

  &:focus {
    border: 2px solid $color-primary;
    outline: none;
    overflow: visible;
    transform: scale(1.05);
  }
}

.form-submission--success,
.form-submission--fail {
  display: none;

  p {
    font-family: $font-roboto-black;
    font-size: 5vw;
    margin-top: 80px;
    text-align: center;
  }
}
