.button,
input[type=submit] {
  background: transparent;
  border: 1px solid $white;
  color: $white;
  cursor: pointer;
  font-family: $font-roboto-black;
  font-size: .9rem;
  padding: 10px;
  text-transform: uppercase;
  transition: .5s ease;

  &:hover {
    border: 1px solid $color-primary;
    overflow: visible;
  }

  &__submit {
    padding: 2%;
    width: 100%;
  }
}

.wpcf7 {
  input[type=submit] {
    margin: 0px 0px 10px !important;
  }
}
