.button {
  background: transparent;
  border: 2px solid $white;
  color: $white;
  cursor: pointer;
  font-family: $font-roboto-black;
  font-size: .9rem;
  padding: 10px;
  text-transform: uppercase;
  transition: .5s ease;

  &:hover {
    border: 2px solid $color-primary;
    overflow: visible;
  }

  &__submit {
    padding: 2%;
    width: 100%;
  }
}
