// About and contact:
// Contains information about me and a contact form.
.about-background {
  background: $color-background-dark;
  min-height: 100vh;
}

.about-content {
  position: relative;
  top: 15vh;
}

.about-content--left {
  float: left;
  height: 100%;
  margin-left: 5%;
  width: 45%;

  img {
    display: block;
    margin: auto;
    padding: 0 0 5%;
  }

  p {
    margin-bottom: 5%;
  }
}

.about-content--right {
  float: right;
  height: 100%;
  margin-right: 5%;
  text-align: right;
  width: 45%;

  h1 {
    font-size: 4vw;
    margin-top: 20px;
  }
}
