.portfolio-grid {
  column-count: 5;
  column-gap: 5;
  margin: 180px 0 0;

  img {
    height: auto;
    width: 100%;
  }
}

.portfolio-grid-item__container {
  margin-bottom: 1em;
  text-align: center;
}

.portfolio-grid-item {
  line-height: 0;
  overflow: hidden;
  position: relative;
  transition: .5s;

  &:hover {
    transform: scale(1.05);
  }
}

.portfolio-grid-item__overlay {
  align-items: center;
  background: rgba($black, .65);
  bottom: 0;
  color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: .5s;

  &:hover {
    opacity: 1;
  }

  &__title {
    margin-bottom: 10%;
  }
}


// NOTE: Tidy up media queries later with Sass function
@media (max-width: 1200px) {
  .portfolio-grid {
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .portfolio-grid {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .portfolio-grid {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .portfolio-grid {
    column-count: 1;
  }
}
