.portfolio-grid {
  // Prevent vertical gaps
  column-count: 5;
  column-gap: 5;
  line-height: 2.5;

  img {
    height: auto;
    transition: 1s;
    width: 100%;

    &:hover {
      transform: scale(1.05);
    }
   }
}



@media (max-width: 1200px) {
  .portfolio-grid {
    column-count: 4;
  }
}

@media (max-width: 1000px) {
  .portfolio-grid {
    column-count: 3;
  }
}

@media (max-width: 800px) {
  .portfolio-grid {
    column-count: 2;
  }
}

@media (max-width: 400px) {
  .portfolio-grid {
    column-count: 1;
  }
}
