// 01 Main landing section
// Contains the site heading (my name!) and sub heading and triangle overlay.
.heading {
  margin-top: 100px;

  &::before {
    background: $color-primary;
    box-shadow: 1px 1px 2px $color-text-shadow;
    content: '';
    display: inline-block;
    height: 400px;
    margin: -300px 0 0 -200px;
    position: absolute;
    transform: rotate(45deg);
    width: 400px;
    z-index: z('portfolio-heading-triangle');
  }
}

.heading-background {
  background: linear-gradient(rgba($black, .2), rgba($black, .2)), url('#{$path-img}/landing-background.png') no-repeat center center;
  background-size: cover;
  height: auto;
}

.heading-content {
  padding: 175px 0;
  text-align: left;
  width: 100%;

  h1 {
    font-size: 5vw;
    margin-bottom: 5px;
    text-shadow: 1px 1px 2px $color-text-shadow;
  }

  h2 {
    font-size: 3vw;
    text-shadow: 1px 1px 2px $color-text-shadow;
  }
}

// 02 Introduction section
// Contains an introduction paragraph about the project and a divider.
.intro {
  p {
    font-size: 20px;
    padding: 80px 0;
    text-align: center;
  }
}

.divider__circle--white {
  background: $white;
  border-radius: 50%;
  color: $color-primary;
  content: '';
  display: inline-block;
  height: 100px;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 100px;

  &::after {
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    animation-name: bouncingArrow;
    color: $color-primary;
    content: '▽';
    display: inline-block;
    font-size: 25px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.portfolio-options {
  display: flex;
  font-family:$font-roboto-black;
  justify-content: flex-start;
  margin: 30px 0;

  a {
    color: $color-background-dark;
    margin-right: 30px;
    transition: .5s;

    &:hover,
    &:focus,
    &:active {
      color: $color-primary;
    }
  }
}

.main-body {
  background: $white;
  margin-top: -50px;
  padding: 80px 0;

  p {
    color: $color-background-dark;
    font-size: 18px;
    margin-bottom: 30px;
  }
}

.dropcap {
  color: $color-primary;
  float: left;
  font-family: $font-roboto-black;
  font-size: 100px;
  line-height: 40px;
  margin-top: 20px;
  padding-bottom: 7px;
  padding-right: 7px;
}
