// 1.0 Colour palette.
$bondi-blue: #009ea8;
$white: #fff;
$cod-grey: #111;
$black: #000;
$stiletto: #a53434;

// 2.0 Colours currently being used on the site.
$color-primary: $bondi-blue;
$color-background-dark: $cod-grey;
$color-text-shadow: $cod-grey;
$color-form-error: $stiletto;
